<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<mvc:default-servlet-handler/>

	<context:component-scan base-package="com.martian.controller" />
	<!-- FastJson注入 -->
	<mvc:annotation-driven conversion-service="conversionService">
		<mvc:message-converters register-defaults="true">
			<!-- 避免IE执行AJAX时,返回JSON出现下载文件 -->
			<!-- FastJson -->
			<bean id="fastJsonHttpMessageConverter"
				  class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
				<property name="supportedMediaTypes">
					<list>
						<!-- 这里顺序不能反，一定先写text/html,不然ie下出现下载提示 -->
						<value>text/html;charset=UTF-8</value>
						<value>application/json;charset=UTF-8</value>
					</list>
				</property>
				<property name="features">
					<array value-type="com.alibaba.fastjson.serializer.SerializerFeature">
						<!-- 避免循环引用 -->
						<value>DisableCircularReferenceDetect</value>
						<!-- 是否输出值为null的字段 -->
						<value>WriteMapNullValue</value>
						<!-- 数值字段如果为null,输出为0,而非null -->
						<value>WriteNullNumberAsZero</value>
						<!-- 字符类型字段如果为null,输出为"",而非null  -->
						<value>WriteNullStringAsEmpty</value>
						<!-- List字段如果为null,输出为[],而非null -->
						<value>WriteNullListAsEmpty</value>
						<!-- Boolean字段如果为null,输出为false,而非null -->
						<value>WriteNullBooleanAsFalse</value>
					</array>
				</property>
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>

	<!-- 枚举类型自动绑定 -->
	<bean id="conversionService"
		  class="org.springframework.context.support.ConversionServiceFactoryBean">
		<property name="converters">
			<set>
				<bean class="com.martian.common.converter.StringToEnumConverter" />
			</set>
		</property>
	</bean>
	<!-- 解析器 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/views/" />
		<property name="suffix" value=".jsp" />
	</bean>
	<!-- 拦截器 -->
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**"/>
			<mvc:exclude-mapping path="/"/>
			<mvc:exclude-mapping path="/book/search"/>
			<mvc:exclude-mapping path="/book/newBook"/>
			<mvc:exclude-mapping path="/message/search"/>
			<mvc:exclude-mapping path="/message/detail"/>
			<mvc:exclude-mapping path="/login"/>
			<mvc:exclude-mapping path="/favicon.ico"/>
			<mvc:exclude-mapping path="/assets/**"/>
			<bean class="com.martian.common.interceptor.LoginInterceptor"/>
		</mvc:interceptor>
	</mvc:interceptors>
	<mvc:resources mapping="/martian/**" location="/WEB-INF/"/>

	<!-- 定义文件上传解析器 -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!-- 设定默认编码 -->
		<property name="defaultEncoding" value="UTF-8"></property>
		<!-- 设定文件上传的最大值5MB，5*1024*1024 -->
		<property name="maxUploadSize" value="5242880"></property>
	</bean>
</beans>